html, body {
  height: 100%;
}

body {
  background-color: #000;
  margin: 0;
  font-family: Helvetica, sans-serif;;
  overflow: hidden;
}

a, p, h3, h6 {
  color: #fff;
  background: transparent;
}

h5 {
  color: #fff;
  padding-top: 35px;
}

.axis path {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.legendText, .axis text {
  font-size: 8px;
  fill: #fff;
}

#loading {
  width: 100px;
  height: 100px;
  background: url(http://loading.io/) no-repeat 5px 3px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#intro {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  #icons {
    position:absolute;
    width:200px;
    height:50px;
    bottom:50px;
    right:25%;
    left:50%;
    margin-left:-80px;
  }
}

@media (min-width: 768px) {
  #icons {
    position: absolute;
    bottom: 20px;
    left: 0px;
  }
}

.dataPoint {
  fill: orange;
  stroke: none;
}

.dataPoint:hover{
  stroke: white;
  stroke-width: 2px;
}

.element {
  width: 230px;
  height: 160px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(48,103,145,.75);
  border: 2px solid rgba(127,255,255,0.25);
  border-radius: 8px;
  text-align: center;
  cursor: default;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}

.element .number {
					position: absolute;
					top: 20px;
					right: 20px;
					font-size: 12px;
					color: rgba(127,255,255,0.75);
				}
				
.element .symbol {
					position: absolute;
					top: 40px;
					left: 0px;
					right: 0px;
					font-size: 60px;
					font-weight: bold;
					color: rgba(255,255,255,0.75);
					text-shadow: 0 0 10px rgba(0,255,255,0.95);
				}
				.element .details {
					position: absolute;
					bottom: 15px;
					left: 0px;
					right: 0px;
					font-size: 12px;
					color: rgba(127,255,255,0.75);
				}				
				
				

.element svg {
  position: absolute;
  top: 20px;
  left: 2px;
  right: 0px;
}

.element .investData {
  position: absolute;
  top: 35px;
  left: 0px;
  right: 0px;
  font-size: 10px;
  color: rgb(255,255,191);
}

.element .investLabel {
  position: absolute;
  top: 62px;
  left: 12px;
  right: 0px;
  font-size: 13;
  color: rgb(158,1,66);
}

.element .investLabel1 {
  position: absolute;
  top: 76px;
  left: 12px;
  right: 0px;
  font-size: 13;
  color: rgb(213,62,79);
 
}

.element .investLabel2 {
  position: absolute;
  top: 91px;
  left: 12px;
  right: 0px;
  font-size: 10;
  color: rgb(50,205,50);
 
}

.element .investLabel3 {
  position: absolute;
  top: 115px;
  left: 12px;
  right: 0px;
  font-size: 12px;
  color: rgb(255,255,191);
 
}



.element .chartTitle {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  font-size: 20px;
  color: rgba(127,255,255,0.75);
}

button {
  color: #fff;
  background: transparent;
  outline: 1px solid rgba(48,103,145,.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(48,103,145,.5);
}
button:active {
  color: #000000;
  background-color: rgba(48,103,145,.75);
}

.tooltip{
	background: grey;
	border:1px solid #dedede;
	padding:10px;
	display: none;
	position: absolute;
	max-width: 500px;
	}
	.tooltip p.subtitle {
	font-size: smaller;
	}
	.tooltip table{
	margin: 10px 0 0 0;
	text-align: left;
	vertical-align: top;
	}
	.tooltip table tr:first-child th,
	.tooltip table tr:first-child td {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	}
	.tooltip table td:nth-child(2) {
	padding: 0 0 0 10px;
	text-align: right;
	}
	
	@import url(http://fonts.googleapis.com/css?family=Cabin:400);

.PGx-Database {
	background: #151515;
	height: 100%;
	position: absolute;
	text-align: justify;
	width: 100%;
}

.PGx-Database:before,
.PGx-Database:after {
	content: '';
	display: block;	
	height: 1px;
	left: 50%;
	margin: 0 0 0 -400px;
	position: absolute;
	width: 800px;
}

.PGx-Database:before {
	background: #444;
	background: linear-gradient(left, #151515, #444, #151515);
	top: 192px;
}

.PGx-Database:after {
	background: #000;
	background: linear-gradient(left, #151515, #000, #151515);	
	top: 191px;
}

.PGx-Database form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	margin: 150px auto 0;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.PGx-Database input {
	background: #222;	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

.ie .PGx-Database input {
	line-height: 40px;
}

.PGx-Database input::-webkit-input-placeholder {
   color: #888;
}

.PGx-Database input:-moz-placeholder {
   color: #888;
}

.PGx-Database input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.PGx-Database input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.PGx-Database input:focus:-moz-placeholder {
	color: #efe;
}

.PGx-Database button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.PGx-Database button:hover,
.PGx-DatabaseGx button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.PGx-Database button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}
